.confirm-booking-section{
    padding: 20px;
    background-color:grey;
    display: flex;
    justify-content: center;
}
.confirm-container{
    width: 1330px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.content-container{
    background-color:white;
    border-radius: 20px;
    padding: 20px;
    max-width: 600px;
    min-width: 600px;

}
.details-container{
    display: flex;
    justify-content: space-between;
    font-family: 'Karla';
    font-size: 16px;
}
.tdpov{
    font-weight: bold;
}
.tdpo{
    color:rgb(118, 118, 118);
}
.bookingd{
    font-family: 'Karla';
    font-size: 25px;
    margin-bottom: 20px;
}
.form-input{
    height: 40px;
    padding: 8px;
    border-radius: 9px;
    font-family: 'Karla';
    font-weight:400;
    background-color: rgb(207, 207, 207);
    }
    .continue-button{
        background-color: #495e57;
        color: white;
        margin-top: 10px;
    }
    .form-labels{
        text-align: left;
        font-weight: bold;
        margin-top: 10px;
    }