.footer-wrapper{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    min-width: 800px;
    width: 1330px;
    height: 100%;
    max-width: 1330px;
    margin-top: 20px;
}
.footer-logo{
    width: 147px;
}
.footer-menu-container{
    display: block;
    text-align: left;
}
.footer-menu-text{
    font-family: 'Markazi text';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    color: #000000;
    margin-bottom: 15px;
    }
.category-text{
    font-family: 'Markazi text' ;
    font-size: 20px;
}