.success-title{
    display:inline-block;
}
.ml10{
    margin-left: 10px;
    font-size: 35px;
    color:#495e57;
}
.success-paragraph{
    font-family: 'Karla';
    font-size: 18px;
    max-width: 350px;
    text-align: center;
    margin-bottom: 16px;
}
.bookingd{
    margin-top: 14px;
}
.back-home{
    width: 100%;
    height: 40px;
    border-radius: 12px;
    background-color:#495e57;
    color: white;
    font-family: 'Karla';
}